/* 
::placeholder {
    color: #00FFFF !important;
}

input {
    border: 2px solid rgba(0, 212, 255, 100) !important;
}

.DiGithubFull {
    font-size: 50px;
    cursor: pointer;
}

.DiGithubFull:hover {
    cursor: pointer;
}

.passwordType {
    right: 4%;
    bottom: 51%;

} */