body {
    background-image: url("http://38.media.tumblr.com/587f48c6548e640f943b7c8c6e3f40de/tumblr_mz8yzmi1XJ1ru39xmo1_500.gif");
    background-position: center 25%;
    background-size: cover;
}

::placeholder {
    color: #00FFFF !important;
}

input {
    border: 2px solid rgba(0, 212, 255, 100) !important;
}

.DiGithubFull {
    font-size: 50px;
    cursor: pointer;
}

.DiGithubFull:hover {
    cursor: pointer;
}

.passwordType {
    right: 4%;
    bottom: 51%;

}